@import 'bulma';
img {
    height: 100px;
    width: 100px;
}
.options, .structure {
    display: flex;
    justify-content: space-between;
}
.player, .results, .computer {
    width: 30%;
    text-align: center;
}
button {
    padding: 0;
    margin: 0 10px
}
footer {
    text-align: center;
    position: absolute;
    // bottom: 10;
    width: 100%;
    height: 50px;
    color: rgb(171, 47, 19);
    a{
        text-decoration: none;
        color: rgb(171, 47, 19);
    }

}
#regular, #thegame{
    background-image: url('https://i.imgur.com/eeVfVaD.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .title {
        font-size: 65px;
    }
    .subtitle {
        font-size: 60px;
        color: rgb(16, 28, 167)
    }
    .text-color{
        color: rgb(171, 47, 19);
    }
    .names{
        font-size: 30px;
    }
    .main{
       height: 150px; 
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 20px;
       width: 150px;
    }
    .resetButton{
        width: 10%;
        margin-left: 45%;
        margin-right: 45%;
        font-size: 20px;
        background-color: palegoldenrod;
        
    }
    
    
}
h1 {
    text-align: center;
    
}

#advance {
    .player, .computer {
        width: 40%;
        text-align: center;
    }
    .results {
        width: 20%;
        text-align: center;
       
    }

}
#rules {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    img {
        width: 75%;
        height: 75%;
    }
}
