@import 'bulma';
img {
    height: 100px;
    width: 100px;
}
.options, .structure {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 0;
    margin: 0 10px
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    a{
        text-decoration: none;
        color: black;
    }
}
#regular{
    background-color: red;
}
h1 {
    text-align: center;
}